includes:
  - phpstan-baseline.neon

parameters:
  bootstrapFiles:
    - tools/phpunit
  level: max
  paths:
    - src
    - tests
    - bin
  reportUnmatchedIgnoredErrors: false

# vim: set ft=yaml:
